# .NET build artifacts
[Bb]in/
[Oo]bj/
dist/
temp/
*.user
*.userosscache
*.suo
.vs/
*.db
*.db-wal
*.db-shm

# Fody schema
FodyWeavers.xsd

# Test Results
TestResults/

# Local portable mode data
app_data/
portable.ini

.box-agent/
*.log
tmp/
